#video-container {
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100vw;
  z-index: 1;
  height: 100vh;
  margin: 0 auto;
  .video-container {
    overflow: hidden;
  }
  .video-intro {
    margin: 0 auto;
    top: -10vh;
    width: 120vh;
    height: 120vh;
    display: flex;
    border-radius: 60vh;
    overflow: hidden;
    position: relative;
    video {
      width: 100%;
      transform: scale(2);
    }
    .circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      position: absolute;
      height: 70vh;
      width: 70vh;
      top: 25vh;
      left: 25vh;
      border-radius: 35vh;
      background-color: white;
      z-index: 2;

      h1 {
        padding-top: 70px;
        margin: 0 auto;
        text-align: center;
        color: white;
        @media screen and (max-width: 800px) {
          font-size: 32px;
        }
        span {
          background-color: black;
        }
      }

      a {
        width: 100px;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
    transition: .4s;
  }
}
