.about {
   .container {
      padding-top: 271px;
      flex-wrap: wrap;

      @media screen and (max-width: 800px) {
         flex-direction: row;
         align-items: center;
         justify-content: center;
      }
   }

   &__heading {
      margin: 0;
      line-height: 65px;
      font-family: 'Noto Serif', serif;
      font-size: 48px;
      font-weight: 600;
   }

   .about__extra {
      align-self: center;
      text-align: right;
      padding-right: 30px;
      @media screen and (max-width: 800px) {
         text-align: left;
         order: 2;
      }
   }
}